<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-field/core-field.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<polymer-element name="site-creategroup">

  <template>

    <style>
    core-toolbar {
      background-color: #03A9F4;
    }
    #input {
      margin-top: 50px;
    }
    #bt-next {
      margin-top: 100px;
      width: 40em;
      background-color: rgb(239,244,147);
    }
    </style>

    <div fullbleed vertical layout flex >
      <core-toolbar id="header1" >
        <paper-icon-button id="back1" icon="arrow-back"></paper-icon-button>
        <div flex id="create">
          <span horizontal layout center-justified >创建圈子</span>
        </div>
      </core-toolbar>
      <div vertical layout  id="input" >
        <div horizontal layout>
          <paper-button>名称</paper-button>
          <input flex id="input-time" placeholder="必填，最多30字"></input>
        </div>
        <p horizontal layout center-justified id="p1">圈子名称需要审核，请认真说明圈子主题</p>
        <div horizontal layout>
          <paper-button>时间</paper-button>
          <input flex id="input-time" placeholder="2015-1-1"></input>
          <paper-icon-button id="s1" icon="expand-more"></paper-icon-button>
        </div>
        <div horizontal layout>
          <paper-button>地点</paper-button>
          <input flex id="input-time" placeholder="点击定位"></input>
          <paper-icon-button id="s2" icon="chevron-right"></paper-icon-button>
        </div>
      </div>
      <div horizontal layout center-justified >
        <paper-button id="bt-next">下一步</paper-button>
      </div>
    </div>

  </template>

  <script>
   Polymer({});
  </script>
</polymer-element>
